.form-control{
    border-radius: 3px;
    width: 600px;
    margin-left: 30%;
    text-align: center;
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 8px;
    color: rgb(19, 19, 20);
}